*, *:before, *:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height:auto;
}

html {
	overflow-y: auto;
	min-height: 100%;
	text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	overflow-x:hidden;
	background-color: $white;
	color:$blue;
	font-family: $sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
	@include bp($s3){
		font-size: 18px;
	}
	@include bp($s5){
		font-size: 20px;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

a {
	text-decoration: none;
	color:$green;
}

.bg-graylight {
	background-color: $graylight;
}

.bg-blue {
	background-color: $blue;
	color:$white;
}

.wrapper {
	@include clearfix();
	position: relative;
	margin:0 auto;
	padding:0 1em;
	max-width: $normalmax;
	@include bp($s1) {
		padding:0 1em;
	}
	@include bp($s2) {
		padding:0 2em;
	}
	@include bp($s3) {
		padding:0 3em;
	}
	@include bp($s4) {
		padding:0 4em;
	}
}

.wrapper--fullwidth {
	padding:0 0;
	max-width: none;
	@include bp($s2) {
		padding:0 0;
	}
	@include bp($s4) {
		padding:0 0;
	}
}
.wrapper--wide {
	max-width: $widemax;
}
.wrapper--narrow {
	max-width: 40em;
	@include bp($s3) {
		max-width: $narrowmax;
	}
}

.wrapper--normal {
	max-width: 40em;
	@include bp($s2) {
		max-width: $normalmax;
	}
}




