/*****************
 Color Definitions
 *****************/
$white: #fff; 

$gray: #a7a5bc;
$graymixed: #d2d3d4;
$graylight: #e6e7e8; 

$green: #86a63f;
$greenlight: #e7edd9;
$greenmixed: #C6D1AE;


$blue: #231e60;

$black: #000;



/*********************
 Breakpoints and width
 *********************/

$s0: 320px;
$s1: 480px;
$s2: 768px;
$s3: 1024px;
$s4: 1280px;
$s5: 1600px;

$narrowmax: 890px;
$normalmax: 1090px;
$widemax: 1360px;


/****************
	Fonts
**************/
$sans-serif: 'BrandonGrotesque', sans-serif;	

