.pageheader {
  background-color: $green;
  color:$white;
}

.pageheader__title {
  text-transform: uppercase;
  width: 80%;
  font-size: 2em;
  z-index:1;
  position: relative;
  text-shadow:0 0 3px $green;
  margin:1.25em 0;
}

.pageheader__figure {
  position: absolute;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  width:21em;
  overflow: hidden;
  z-index: 0;
  img {
    display: block;
  }
  @include bp($s1) {
    width: 23em;
  }
  @include bp($s2) {
    right:2em;
  }
  @include bp($s3) {
    right:3em;
  }
  @include bp($s4) {
    right:4em;
  }
}


/********* Hero ***/
.owl-theme .owl-controls {
  position: absolute;
  left:0;
  right:0;
  margin-top: 1em;
}

.owl-theme .owl-controls .owl-page span {
  background-color: transparent;
  border:2px solid $blue;
}

.owl-theme .owl-controls .owl-page.active span {
  background-color: $blue;
  //border:1px solid $blue;
}


.hero {
  background-color: $green;
  color:#fff;

  @include bp($s2) {
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 0, transparent 3em, $green 3em);
    margin-top: -3em;
  }
}

.hero__item {
  @include bp($s2) {
  }
  @include bp($s3) {
  }
  @include bp($s4) {
  }
}

.hero__text {
  font-size: 2em;
  z-index:1;
  position: relative;
  text-shadow:0 0 3px $green;
  margin:1.25em auto 1.25em;
  max-width: 11em;
  
  @include bp($s1){
    
  }
  @include bp($s2) {
    margin:3.25em 0 2.5em;

    max-width: 9em;
    float:left;
    height:10em;
    padding-bottom: 2em;
    text-overflow: ellipsis;
  }

}
.hero__text__title {
  margin:0;
  display: inline-block;
  padding:1rem;
  border:2px solid  $white;
  line-height: 1.25;
  font-weight: 900;
  text-transform: uppercase;
  text-align: right;
  span {
    color:$blue;
  }
  @include bp($s2){
    padding:1.5rem 1rem 1.333rem 1.5rem;
    margin-right: 4rem;
  }
}

.hero__text__paragr {
  padding:0;
  margin:1.5rem 0 0;
  font-size: .75em;
  line-height: 1.2;
  @include bp($s2){
    margin:1.5rem 0 0 1.5rem;
  }

  strong {
    font-style: italic;
  }

}

.hero__text__more {
  color:$blue;
  font-weight: 900;
  text-transform: uppercase;
  font-size: .666em;
  float:right;
  display: inline-block;
  margin-top: .5em;
  margin-right: .333em;
}

// .hero__figure {
//   margin:0 auto;
//   max-width: 28em;
//   img {
//     display: block;
//   }
//   @include bp($s1) {


//    }
//   @include bp($s2) {
//     max-width: none;
//     position: absolute;
//     bottom:0;
//     margin:0;
//     padding:0;
//     overflow: hidden;
//     z-index: 0;    
//     width:58em;
//     right:-8em;

//   }
//   @include bp($s3) {
//   }
//   @include bp($s4) {
//     right:0;
//   } 
// }


.hero__figure {
  margin:0 auto;
  padding:0;
  max-width: 28em;
  img {
    display: block;
     height:12em;
    max-width: none;
    width:auto;
    margin:0 auto; 
  }
  @include bp($s1) {


   }
  @include bp($s2) {
    margin:0;
    text-align: right;
    position: absolute;
    bottom:0;
    top:0;
    right:0;
    z-index:0;
    img {
      margin:0;
      display: block;
      height:100%;
      max-width: none;
      width:auto;
      float:right;

    }
  }

  @include bp($s3) {
    img {

    }
  }
  @include bp($s4) {
    //right:0;
  } 
}
