.pageheader {
  background-color: $green;
  color:$white;
}

.pageheader__title {
  text-transform: uppercase;
  width: 80%;
  font-size: 2em;
  z-index:1;
  position: relative;
  text-shadow:0 0 3px $green;
  margin:1.125em 0;
  @include bp($s3) {
    margin:1.25em 0;
  }
}

.pageheader__figure {
  position: absolute;
  right:0;
  bottom:0;
  margin:0;
  padding:0;
  width:50%;
  height:10em;
  overflow: hidden;
  z-index: 0;
  text-align: right;
  img {
    display: inline-block;
    max-width: none;
    width:auto;
    height:100%;
    
  }
  @include bp($s1) {
    right:2em;
  }
  @include bp($s2) {
    right:24%;
  }
  @include bp($s3) {
    //right:3em;
    height:11em;
  }
  @include bp($s4) {
    //right:4em;
  }
}


/********* Hero ***/
.owl-theme .owl-controls {
  position: absolute;
  left:0;
  right:0;
  margin-top: 1em;
}

.owl-theme .owl-controls .owl-page span {
  background-color: transparent;
  border:2px solid $blue;
}

.owl-theme .owl-controls .owl-page.active span {
  background-color: $blue;
  //border:1px solid $blue;
}


.page-template-template-home .navbar {
  @include bp($s2) {
    margin-bottom: -2.75em;
  }
}

.hero {
  @include clearfix();
  clear:both;
  background-color: $green;
  color:#fff;

  @include bp($s2) {
    background-color: transparent;
    background-image: linear-gradient(to bottom, transparent 0, transparent 3em, $green 3em);
    //margin-top: -3em;
  }
}

.hero__item {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 13em;
  @include bp($s2) {
    background-size: auto 100%;
    background-position: 100% bottom;
    .item--flip & {
       background-position: 0 bottom;
    }

  }
  @include bp($s3) {
  }
  @include bp($s4) {
  }
}

.hero__text {
  font-size: 2em;
  z-index:1;
  position: relative;
  text-shadow:0 0 3px $green;
  margin:1.75em auto;
  max-width: 11em;
  height:14em;
  text-overflow: ellipsis;
  padding-left: 1.5rem;  

  @include bp($s1){
    
  }
  @include bp($s2) {
    margin:3.25em 0 1.25em 0;
    max-width: 9em;
    height:11em;
    .item--flip & {
      float:right;
      margin-right: .5em;
    }
  }

}
.hero__text__title {
  position: relative;
  margin:0;
  display: inline;
  padding:0;
  line-height: 1.25;
  font-weight: 900;
  text-transform: uppercase;
  text-align: left;
  &:before {
      position: absolute;
      content:'';
      left:-1.5rem;
      right:-3rem;
      //width:100%;
      top:-1.125rem;
      bottom:-1rem;
      height: 3.5em;
      display: block;
      border:2px solid  $white;

    }

  span {
    color:$blue;
  }
  @include bp($s2){
  }
}

.hero__text__paragr {
  padding:0;
  margin:2.875rem 0 0;
  font-size: .75em;
  line-height: 1.2;
  clear:both;
  @include bp($s2){
  }

  strong {
    font-style: italic;
  }

}

.hero__text__more {
  color:$blue;
  font-weight: 900;
  text-transform: uppercase;
  font-size: .666em;
  //float:right;
  display: inline-block;
  //margin-top: .5em;
  //margin-right: .333em;
  //margin-left: 1em;
  &:before {
    content: ' ';
  }
}

